.weather-app {
  border: 5px solid #64676a;
  padding: 15px;
  margin: 30px auto;
  margin-bottom: 0;
  max-width: 1100px;
}
.local {
  font-size: 24px;
  font-weight: bold;
  opacity: 0.7;
}
form {
  opacity: 0.6;
  padding-top: 20px;
  font-size: 20px;
}
#my-location {
  opacity: 0.6;
  font-size: 17px;
}
.weather {
  text-align: center;
}
#current-icon {
  font-size: 84px;
  line-height: 75px;
  padding-top: 5px;
}
#current-weather {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.7;
}
#current-temp {
  font-size: 130px;
  opacity: 0.7;
  line-height: 0.75;
  text-align: right;
  padding-top: 4px;
}
.col-2 {
  padding: 0;
  padding-top: 0;
}
.units {
  font-size: 24px;
  opacity: 0.6;
}
.units .active {
  color: #64676a;
  cursor: default;
  text-decoration: none;
}
.units .active:hover {
  text-decoration: none;
}
.conditions {
  opacity: 0.5;
}
.future {
  text-align: center;
  padding-top: 10px;
}
#icon {
  font-size: 84px;
  line-height: 75px;
  padding-top: 15px;
}
.day {
  opacity: 0.6;
}
.temp {
  opacity: 0.6;
}
.high {
  font-weight: bold;
}
.source-line {
  text-align: center;
  padding: 10px;
}
